*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.latest-product img{
   height: 400px;
}

.nav-link:hover{
  color:rgb(126, 126, 126);
}

.navbar-nav .bi:hover{
    color:rgb(126, 126, 126); 
}

.btn-dark:hover{
    background-color:rgb(126, 126, 126); 
}

.bi-cart-fill:hover{
    color:rgb(126, 126, 126);  
}

.card{
    transition: 0.3s ease; 
}

.card:hover{
    scale: 1.05;
}

.cart-img img{
    max-width: 100px;
    max-height: 100px;
}