*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:black;
}

.nav-link{
    color: lightpink;
}

.card-title{
    color: lightpink;
}

.card-body button{
    color: lightpink;
}

.item h2{
    color: lightpink;
}